@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');

body {
   background-color: rgb(85,0,170);
   font-family: 'Baumans', cursive;
}

.zircon {
    background-color: #00849D;
}

.floral {
    background-color: #91B6D8;
}

.cashmere {
    background-color: #63779D;
}

.miami {
    background-color: #54C3EA;
}

.infantry {
    background-color: #30506D;
}

.majestic {
    background-color: #302E75;
}

.transparent {
    background-color: #CDDBDD;
}



/****************************/
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    font-size: 36px;
}

table {
    width: calc(30px * 10);
    text-align: center;
    background-color:rgb(2, 1, 13); 

}

td {
    padding: 15px;
    margin: 0;
    background-color: rgb(124, 124, 124);
}

.board {
    margin: 20px 0;
    display: flex;
    background-color: rgb(124, 124, 124);
    padding: 10px;
    box-shadow: 8px 8px 24px 0px rgb(40, 21, 55);
    
    
}

.board__details {
    padding: 10px;
    font-size: 20px;
}

.board__line {
    margin: 20px 0;
}

.board__next--block table {
    width: calc(6px * 2 * 4);
}

.board__next--block td {
    margin: 0;
    padding: 6px;
}

.btn {
    padding: 8px;
    font-size: 24px;
    border: none;
    font-family: 'Baumans', cursive;
    background-color: transparent;
    cursor: pointer;
}